__pycache__
experimenting.py
.vscode
.ipynb_checkpoints
sample.xlsx
synthpop.csv
synthpop.R
normal_vs_uniform.ipynb
skewed_mvn.py
Object_Experiments.ipynb
Paper_Graphs.ipynb
synloc.egg-info
dist
build