__pycache__
experimenting.py
.vscode
.ipynb_checkpoints
sample.xlsx
synthpop.csv
normal_vs_uniform.ipynb
skewed_mvn.py
Object_Experiments.ipynb
Paper_Graphs.ipynb
synloc.egg-info
dist
build
Paper_Simulations.ipynb
california_synthpop.csv
circulars_synthpop.csv
descriptives.tex
trivariate_synthpop.csv